
@keyframes movingBox {
    from{
        transform: translateX(-600px);
    }
    to{
        transform: none;
    }
}

.chat-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid white;
    transform: translateX(-600px);
    animation: movingBox 0.2s ease-in-out forwards;
}



.chat-box:nth-child(2){
    animation-delay: 0.4s;
}

.chat-box:nth-child(3){
    animation-delay: 0.6s;
}

.chat-box:nth-child(4){
    animation-delay: 0.8s;
}

.chat-box:last-child{
    animation-delay: 1s;
}

.chat-box__column{
    display: flex;
    align-items: center;
}

.chat-box__person h3 {
    font-weight: 600;
}
.chat-box__person h4{
    margin-top: 10px;
    font-weight: 600;
    color: red;
    
    
}

.redcircle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    color: white;
}

.chat-box__column-time {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}