
.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    
}

.screen-header__title {
    font-size: 28px;
    
}


@keyframes rotateCog {
    from {
      transform: none;
    }
    to {
      transform: rotateZ(360deg);
    }
  }

.screen-header__icons .fa-cog {
    animation: rotateCog 1s linear infinite;
  }