.user-component {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}

.user-component-none{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    
}
.user-component__column:first-child {
    display: flex;
    align-items: center;
}

.user-component__column:first-child span {
    font-size: 18px;
    font-weight: 600;
}

.user-component__column:last-child{
    margin-top: 3px;
}
.user-component__image{
    width: 50px;
    height: 50px;
    border-radius: 12px;
    margin-right: 10px;
}

.user-component__image--xl{
    width: 60px;
    height: 60px;
    border-radius: 12px;
    margin-right: 10px;
}

.user-component__column-music {
    border: 2px solid green;
    border-radius: 15px;
    padding: 5px;
    margin-top: 2px;
}

.user-component__column-music span {
    font-size: 10px;
    font-weight: 600;
}

.component-bookmark {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}



.component-bookmark span,
.component-bookmark span > i
{
    opacity: 0.6;
}
.user-component__column-number {
    opacity: 0.6;
}

.user-multiple__component {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.user-multiple {
    border-bottom: 1px solid gray;
}
